{% extends 'playbooks/base.html' %}
{% block title %}{{ playbook }}{% endblock %}
{% block albums_active %}active{% endblock %}

{% block body %}
<div class="container-fluid songs-container">

    <div class="row">

        <!-- Left Playbook Info -->
        <div class="col-sm-8 col-md-10">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="{% url 'playbooks:detail' playbook.id %}">
                            <h1>{{ playbook.playbook_description }}</h1>
                            <h3>{{ playbook.playbook_text }}</h3>
                    </a>
                </div>
            </div>
        </div>

    </div>

</div>

{% endblock %}
